<br><br>
<footer class='main-header'>
	<section class='header-left'></section>
	<section class='header-right'>
		<a href='/legal/datenschutz'>Datenschutz</a>
	</section>
	<section class='header-right'><span>&nbsp;</span></section>
	<section class='header-right'>
		<a href='/legal/impressum'>Impressum</a>
	</section>
</footer>