<br><br>
<footer class='center topborder footer'>
	<div class='col-2'>
		<a href='/legal/datenschutz'>Datenschutz</a>
	</div>	
	<div class='col-2'>
		<a href='/legal/impressum'>Impressum</a>
	</div>
	<div class='col-2'>
		<a href='/legal/contact'>Kontakt</a>
	</div>	
</footer>