<input id='signupRestaurantName' type="text" name="signupRestaurantName" required class='form-input form-input-standard' placeholder='Name des Restaurants' />
<br><br>
<input id='signupRestaurantType' type="text" name="signupRestaurantType" class='form-input form-input-standard' placeholder='Art der Küche' />
<br><br>
<label class='yellowtext'>Mittagsessen von <input id="signupRestaurantStart" type="time" name="signupRestaurantStart" value="12:00" class='form-input form-input-time' />  bis <input id="signupRestaurantEnd" type="time" name="signupRestaurantEnd" value="14:30" class='form-input form-input-time' /></label>
<br><br>
<label class='label-left yellowtext'>Geöffnet am:</label>
<label class='yellowtext'>Mo<input type='checkbox' name='supplierDay1' id='supplierDay1' checked onclick='checkSupplierDays();' /></label>
<label class='yellowtext'>Di<input type='checkbox' name='supplierDay2' id='supplierDay2' checked onclick='checkSupplierDays();' /></label>
<label class='yellowtext'>Mi<input type='checkbox' name='supplierDay3' id='supplierDay3' checked onclick='checkSupplierDays();' /></label>
<label class='yellowtext'>Do<input type='checkbox' name='supplierDay4' id='supplierDay4' checked onclick='checkSupplierDays();' /></label>
<label class='yellowtext'>Fr<input type='checkbox' name='supplierDay5' id='supplierDay5' checked onclick='checkSupplierDays();' /></label>
<label class='yellowtext'>Sa<input type='checkbox' name='supplierDay6' id='supplierDay6' onclick='checkSupplierDays();' /></label>
<label class='yellowtext'>So<input type='checkbox' name='supplierDay7' id='supplierDay7' onclick='checkSupplierDays();' /></label>
<br><br>
<input id='signupRestaurantStreet' type="text" name="signupRestaurantStreet" class='form-input form-input-standard' placeholder='Strasse und Haus-Nr.'>
<br><br>
<input id='signupRestaurantPLZ' type="text" name="signupRestaurantPLZ" size='5' class='form-input form-input-plz' placeholder='PLZ'>
<input id="signupRestaurantCity" type="text" name="signupRestaurantCity" class='form-input form-input-city' placeholder='Stadt'>
<br><br>
<input id='signupRestaurantSite' type="url" name="signupRestaurantSite" class='form-input form-input-standard' placeholder='Webseiten URL'>
<br><br>
<input id='signupRestaurantEmail' type="email" name="signupRestaurantEmail" class='form-input form-input-standard' placeholder='Restaurant-Email'>
<br><br>
<input id='signupRestaurantPhone' type="tel" name="signupRestaurantPhone" class='form-input form-input-standard' placeholder='Tefl. Nr.'>
<br><br>
<label class='yellowtext'><input id="signupRestaurantDoesDeliver" type="checkbox" name="signupRestaurantDoesDeliver">Liefert Ihr Mittagsessen ausser Haus (auch wenn es von Dritten geliefert wird)? </label><br>
		<div id='sectionDelivery' style="display:block;">
			<br>
			<div class='form-input form-input-standard form-input-div'>Wer liefert ausser Haus?
			<select id='signupRestaurantDelivery' name='signupRestaurantDelivery' class='form-input-select'>
			  <option value="Intern" selected="">Intern</option>
			  <option value="Foodora">Foodora</option>
			  <option value="Deliveroo">Deliveroo</option>
			  <option value="Lieferheld">Lieferheld</option>
				<option value="Andere">Andere</option></select></div>
			<br><br>
			<div id='sectionOtherDelivery'>
				<label for='signupRestaurantOtherDelivery' style="display: block;" class='yellowtext'>Andere:</label>
				<input id='signupRestaurantOtherDelivery' type="text" name="signupRestaurantOtherDelivery" class='form-input form-input-standard' placeholder='Durch wen wird geliefert?'>
				<br>
			</div>
		</div>
		<br>
	<input class='btn' type='submit' id='signupRestaurantBtn' value='Jetzt registrieren' />

	<script type="text/javascript">
		var sectionDelivery = document.getElementById('sectionDelivery');
		var signupRestaurantDoesDeliver = document.getElementById('signupRestaurantDoesDeliver');
		var sectionOtherDelivery = document.getElementById('sectionOtherDelivery');
		var signupRestaurantDelivery = document.getElementById('signupRestaurantDelivery');

		// Check if all weekdays are closed (not allowed)
		function checkSupplierDays(){
			if (document.getElementById('supplierDay1').checked == false && 
					document.getElementById('supplierDay2').checked == false && 
					document.getElementById('supplierDay3').checked == false &&
					document.getElementById('supplierDay4').checked == false &&
					document.getElementById('supplierDay5').checked == false &&
					document.getElementById('supplierDay6').checked == false &&
					document.getElementById('supplierDay7').checked == false ) {
				document.getElementById('supplierDay1').checked = true;
			}
		};

		// EXPAND DELIVERY-INPUT FORM IF USER HAS A RESTAURANT AND WANTS TO REGISTER IT
		if (sectionDelivery) {
			sectionDelivery.style.display = 'none';
		}
		signupRestaurantDoesDeliver.addEventListener('change',function() {
	    if (signupRestaurantDoesDeliver.checked == true){
	    	sectionDelivery.style.display = 'block';
	    } else {
	    	sectionDelivery.style.display = 'none';
	    }
		});

		// EXPAND DELIVERY-OTHER-INPUT SECTION IF OPTION 'OTHER' WAS SELECTED
		if (sectionOtherDelivery) {
			sectionOtherDelivery.style.display = 'none';
		}
		signupRestaurantDelivery.addEventListener('change', function(){
			if (signupRestaurantDelivery.value === 'Andere') {
				sectionOtherDelivery.style.display = 'block';
			} else {
				sectionOtherDelivery.style.display = 'none';
			}
		});
	</script>