{{!-- <div class='center'> --}}
  <div class='col-9'>
    <h3>Fehlt Dir ein Restaurant?<br>Bitte hier eintragen.</h3>
    <form role="form" method="POST" name="requestData" action="supply/request">
      <input type="hidden" name="userId" value="{{userId}}">
      <input type="hidden" name="JWT" value="{{JWT}}">
      <input id="requestInfo" type="text" name="requestInfo" class='form-input widthfull' placeholder='Restaurant Name (ggfs. Adresse, Tefl.-Nr, Webseite, Rezension, etc)' />
      <br>
      <div id='sectionRequestCheckboxes' style="display: block">
        <br>
        <label class='yellowtext'><input id="requestUpdate" type="checkbox" name="requestUpdate" >Sollen wir Dich per Email informieren sobald das Restaurant sich bei uns angemeldet hat?</label><br>
        <label class='yellowtext'><input id="requestPersonal" type="checkbox" name="requestPersonal">Der Restaurant-Inhaber darf meinen Namen erfahren? (Deine Email wird nicht weitergeben!)</label>  
      </div>
      <br>
      <input class='btn' type='submit' id='requestBtn' value='Vorschlag absenden'/>
    </form>
    <div id='requestResponse'></div>
  </div>
{{!-- </div> --}}

<script type="text/javascript">
  var requestResponse = document.getElementById('requestResponse');
  var requestInfo = document.getElementById('requestInfo');
  var requestUpdate = document.getElementById('requestUpdate');
  var requestPersonal = document.getElementById('requestPersonal');
  var form = document.forms.namedItem("requestData");
  var sectionRequestCheckboxes = document.getElementById('sectionRequestCheckboxes');

  // DISPLAY CHECKBOX OF WISH SECTION ONLY IF RESTAURANT INFO HAS BEEN INPUT
  if (sectionRequestCheckboxes) {
    sectionRequestCheckboxes.style.display = 'none';
  }
  requestInfo.addEventListener('change', function(){
    if (sectionRequestCheckboxes.style.display === 'none') {
      sectionRequestCheckboxes.style.display = 'block';
    }
  });
  // Verify Email is UNIQUE via AJAX with Server 
  form.addEventListener('submit', function(event) {
    var requestData = 
      encodeURIComponent('requestInfo')+'='+encodeURIComponent(requestInfo.value)+ '\&' +
      encodeURIComponent('requestUpdate')+'='+encodeURIComponent(requestUpdate.checked)+'\&'+
      encodeURIComponent('requestPersonal')+'='+encodeURIComponent(requestPersonal.checked);
    var request = new XMLHttpRequest();
    request.open("POST", "/supply/request", true);
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.onload = function(ev) {
      if (request.status == 200) {
        requestResponse.innerHTML =   request.statusText + ' ' + request.responseText;
      } else {
        requestResponse.innerHTML = "Error " + request.status + " occurred when trying to send your request.<br \/>";
      }
    };
    request.send(requestData);
    event.preventDefault();
    requestInfo.value = '';
    requestUpdate.checked = false;
    requestPersonal.checked = false;
  }, false);
</script>