<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="generator" content="Sublime Text 2" />
	<title>Tiffin</title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
	<link rel='stylesheet' href="/css/styles.css" type='text/css' media='all' />
	{{> googleanalytics}}
</head>
<body>
	<div class='container'>
		<header class='header'>
			<section class='logo'>
				<a href='/'><img class='logo__image' src='/images/logo-header.png'></a>	
			</section>
		</header>
		{{{body}}}
		{{> footer}}
	</div>
</body>
<script type="text/javascript">
</script>
</html>