<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="generator" content="Sublime Text 2" />
	<title>Tiffin</title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
	<link rel='stylesheet' href="/css/styles.css" type='text/css' media='all' />
	{{> googleanalytics}}
</head>
<body>
	<div class='container'>
		<header class='header'>
			<section class='logo'>
				<a class='nav-link' href='/'><img class='logo__image' src='/images/logo-header.png'></a>	
			</section>
			<section class='right nonmobile'>
				<a class='nav-link {{#if navOffers}}active{{/if}}' href="/offers">Was gibt es heute?</a>
			</section>
			<section class='right nonmobile'>
				<a class='nav-link {{#if navSelect}}active{{/if}}' href="/offers/select">Restaurants</a>
			</section>
			{{#if (checkRole role 'supplier')}}
				<section class='right nonmobile'>
					<a class='nav-link {{#if navSupply}}active{{/if}}' href="/supply">Meine Angebote</a>
				</section>
			{{/if}}
			{{#if (checkRole role 'admin')}}
				<section class='right nonmobile'>
					<a class='nav-link {{#if navSupply}}active{{/if}}' href="/supply">Meine Angebote</a>
				</section>
			{{/if}}
			<section class='right nonmobile'>
				<a class='nav-link {{#if navProfile}}active{{/if}}' href="/profile"><img src='/images/icon-profile.png' alt='Dein Profil'></a>
			</section>
			{{#if (checkRole role 'admin')}}
				<section class='right nonmobile'>
					<a class='nav-link {{#if navAdmin}}active{{/if}}' href="/admin"><img src='/images/icon-admin.png' alt='Admin'></a>
				</section>
			{{/if}}
			<section class='right mobileonly'>
				<div class='navburger' onclick='displayNavigation();'>
					<img src='/images/icon-navigation.png' alt='Navigation'>
				</div>
			</section>
			<section class='right mobileonly'>
			</section>
		</header>

		<div class='row mobilenavigation topborder bottomborder' id='mobilenavigation'>
			<ul class='mobilenavigation-ul'>
				<li class='mobilenavigation-li'><a href="/offers">Was gibt es heute?</a></li>
				<li class='mobilenavigation-li'><a href="/offers/select">Restaurants</a></li>
				{{#if (checkRole role 'supplier')}}
					<li class='mobilenavigation-li'><a href="/supply">Meine Angebote</a></li>
				{{/if}}
				{{#if (checkRole role 'admin')}}
					<li class='mobilenavigation-li'><a href="/supply">Meine Angebote</a></li>
				{{/if}}
				<li class='mobilenavigation-li'><a href="/profile">Mein Profil</a></li>
				{{#if (checkRole role 'admin')}}
					<li class='mobilenavigation-li'><a href="/admin">Admin</a></li>
				{{/if}}
			</ul>
		</div>
		{{#if flash}}
			<div id='flash' class='row center yellowtext flash'>
				<h3><strong>{{flash.intro}}</strong> {{{flash.message}}} <a href='#' onclick="document.getElementById('flash').style.display = 'none'; return false;"> <img src='/images/icon-detachY.png'></a></h3>
			</div>
		{{/if}}
		{{{body}}}
		{{> footer}}
	</div>
</body>
<script type="text/javascript">
	function displayNavigation() {
		// if (document.getElementById('mobilenavigation').style.display == 'none') {
		// 	document.getElementById('mobilenavigation').style.display = 'block';
		// } else {
		// 	document.getElementById('mobilenavigation').style.display = 'none';
		// }
		document.getElementById('mobilenavigation').classList.toggle('shownav');
	};
</script>
</html>