<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="generator" content="Sublime Text 2" />
	<title>Tiffin</title>
	<link rel='stylesheet' href="/css/styles.css" type='text/css' media='all' />
	{{> googleanalytics}}
</head>
<body>
	<header class='main-header'>
		<section class='header-left'>
			<a href='/'><img src='/images/logo-header.png'></a>	
		</section>
	</header>
	{{{body}}}
	{{> footer}}
</body>
</html>