/* ---------------------------------------------- */
/*		#GENERIC
/* ---------------------------------------------- */

html {
  font-family: 'Josefin Sans';
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	background-image: url(/images/background2.png);
	background-size: 446px 204px;
	background-repeat: repeat-x repeat-y;
	margin: 0;
	color: white;
	font-family: 'Josefin Sans';
}
a {
	text-decoration: none;
	color: white;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
h3 {
	margin-top: 0px;
	margin-bottom: 10px;
}
img {
  border: 0;
}

/* ---------------------------------------------- */
/*		#RESPONSIVE SPECIALS     */
/* ---------------------------------------------- */

.nonmobile {
	display: none;
}
.mobileonly {
	display: block;
}

/* ---------------------------------------------- */
/*		#COMPONENTS
/* ---------------------------------------------- */

.container {
	width: 100%;
	max-width : 1400px;
	padding: 0;
	margin: auto;
}
.row:before, 
.row:after {
 	content: '';
 	display: table;
 	clear: both;
}
.row {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* ---------------------------------------------- */
/*		#GRID SECTION     */
/* ---------------------------------------------- */
[class*='col-'] {
	display: inline-table;
	min-height: 1px; 
	width: 33.33%;
}
.col-1{
	width: 60%;
	padding: 5%;
}
.col-2{
	width: 25%;
	padding: 2%;
}
.col-3{
	width: 90%;
	padding: 2%;
}
.col-4{ width: 60%; }
.col-9{ width: 92%; }

/* ---------------------------------------------- */
/*		#HEADER     */
/* ---------------------------------------------- */
.header {
	display: flex;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}
	.logo {
		display: flex;
		flex: 33%;
	}
	.logo:before {
		content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
	}
		.logo__image {
			vertical-align: middle;
		}
	.navburger {
		border-style: solid;
    border-color: white;
    border-width: thin;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    border-radius: 4px;
	}
		.navburger:hover {
			background-color: #ffec00;
		}
	.nav-link {
		font-size: 18px;
	}
		.nav-link img:hover {
			background-color: rgba(255,236,0,0.3);
    	border-radius: 5%;
		}
/* ---------------------------------------------- */
/*		#FLASH SECTION     */
/* ---------------------------------------------- */
.flash {
	background-color: rgba(0, 151, 166, 0.6);
	height: 40px;
	line-height: 20px;
}

/* ---------------------------------------------- */
/*		#HERO SECTION     */
/* ---------------------------------------------- */
.hero:before,
.hero:after {
	content: '';
 	display: table;
 	clear: both;
}
	.hero-img {
		width: 100%;
	}
/* ---------------------------------------------- */
/*		#CONTENT SECTION     */
/* ---------------------------------------------- */
.img-deco {
	max-height: 55px;
}
.img-title {
	max-width: 200px;
}
/* ---------------------------------------------- */
/*		#SUBNAVIGATION SECTION     */
/* ---------------------------------------------- */
.subNav {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 0px;
}
	.subNav-listItem {
		float: left;
		padding-right: 22px;
		font-size: 18px;
	}
/* ---------------------------------------------- */
/*		#CARDS SECTION     */
/* ---------------------------------------------- */

.card {
	width: 280px;
	height: 200px;
	padding: 10px;
	text-align: left;
}
	.card-container {
		height: 100%;
		font-size: 16px; /* CHECK */
		line-height: 20px;
		font-weight: lighter;
		color: white;
		border-radius: 5px;
		border-width: 1px;
		border-color: #6dbc8e; /* #f9a700; */
		border-style: solid;
	}
		.card-header {
			box-sizing: border-box;
			height: 30%;
			padding-top: 5px;
			padding-left: 10px;
			padding-right: 10px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background-color: rgba(109, 188, 142, 0.7); /* #6dbc8e #f9a700; */
			color: black;
		}
			.card-header-title {
				margin-top: 5px;
				margin-bottom: 5px;
		    font-size: 20px;
			}
		.card-frontSide {
			display: inline-table;
			box-sizing: border-box;
			width: 100%;
			height: 70%;
			padding-bottom: 10px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			background-color: black;
			color: #6dbc8e;
		}
			.card-frontSide-left {
				width: 77%;
				display: inline-block;
				padding-left: 10px;
				padding-top: 5px;
			}
			.card-frontSide-right {
				width: 15%;
				display: inline-block;
				text-align: right;
				padding-top: 5px;
				padding-right: 10px;
			}
		.card-backSide {
			display: none;
			box-sizing: border-box;
			width: 100%;
			height: 70%;
			padding-top: 10px;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			color: #6dbc8e;
			background-color: rgba(0,0,0,0.5);
		}
		.card-alert {
			display: none;
			box-sizing: border-box;
			width: 100%;
			height: 70%;
			text-align: center;
			background-color: black;
			padding-top: 5px;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 5px;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			background-color: black;
		}

/* ---------------------------------------------- */
/*		#MOBILE SECTION     */
/* ---------------------------------------------- */
.logindropdown {
	display: none;
	height: 140px;
	padding-top: 50px;
	position: absolute;
	background-color: rgba(0, 151, 166, 0.6);
}
.show {
	display: block;
}
.mobilenavigation {
	display: none;
	background-color: rgba(0, 151, 166, 0.6);
	height: auto;
}
	.mobilenavigation-ul {
		margin-top: 10px;
    margin-bottom: 0px;
    list-style: none;
	}
		.mobilenavigation-li {
			padding-bottom: 10px;
		}
.shownav {
	display: block;
}

/* ---------------------------------------------- */
/*		#INPUT SECTION     */
/* ---------------------------------------------- */

.form-control{
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #ffec00;
  background-color: #909091;
  border-style: none;
  font-family: inherit;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #555;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #555;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #555;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #555;
}
.form_fixed {
	width: 226px;
}
.label-left {
	width: 20%;
	display: inline-block;
}
	.form-input {
		box-sizing: border-box;
		border-radius: 4px;
		padding: 6px 12px;
	  font-size: 14px;
	  font-family: inherit;
	  line-height: 1.42857143;
	  color: #ffec00;
	  background-color: #909091;
	}
		.form-input-standard {
			width: 99%;
		}
		.form-input-select {
	    border: 0;
	    color: #ffec00;
	    font-size: 14px;
	    font-family: inherit;
	    background: transparent;
		}
		.form-input-time {
			width: 100px;
	    font-family: inherit;
		}
		.form-input-plz {
			width: 20%;
		}
		.form-input-date {
			width: 150px;
	    font-family: inherit;
		}
		.form-input-city {
			width: 78%;
		}
		.form-input-div {
			color: #555;
			border-bottom-color: white;
	    border-bottom-style: inset;
	    border-bottom-width: 2px;
	    border-right-style: inset;
	    border-right-width: 2px;
		}
	  .form-input-right {
	  	width: 80%;
	  }
.btn {
	box-sizing: content-box;
  padding: 6px 12px;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  color: black;
  background-color: #ffec00;
  border-style: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
/* ---------------------------------------------- */
/*		#ISOLATEDMODIFIERS
/* ---------------------------------------------- */

.center {
	text-align: center;
}
.right {
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 20px;
}
.widthfull {
	width: 100%;
}
.lila {
	background-color: #0097a6;
}
.yellowtext {
	color: #ffec00;
}
.yellow-hover:hover {
	color: #ffec00;
}
.topborder {
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: white;
}
.bottomborder {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: white;
}
.neutralselect {
  background-color: transparent;
  border-style: none;
  color: white;
  font-family: inherit;
  font-size: 16px;
}
/* ---------------------------------------------- */
/*		#TO BE RESOLVED     */
/* ---------------------------------------------- */

	.floatRight {
		float: right;
	}
	.marginTop2 {
		margin-top: 2px;
	}
  .feature {
  	font-size: 22px;
  }
.form-frame {
	text-align: left;
	border-radius: 8px;
	border-style: solid;
	border-color: #f9a700;
	border-width: thin;
}

@media screen and (min-width: 851px) {
	.col-1{ width: 15%; }
	.col-3{ width: 44%; }
	.img-deco {
		max-height: 80px;
	}
	.img-title {
		max-width: 251px;
	}
	.nonmobile {
		display: block;
	}
	.mobileonly {
		display: none;
	}
	.flash{
		line-height: 40px;
	}
}