<h1>PROFIL</h1>
<p>Dies ist Dein Profil</p>
<p>Username: {{username}}</p>
<p>Name: {{name}}</p>
<p>Rolle: {{role}}</p>
<p>Default Stadt: {{selectedCity}}</p>

<form role="form" action="/logout" method="GET">
  <button type="submit">Abmelden</button>
</form>