<div class='hero'>
	<img class='hero-img' src='/images/hero-image.png'>
</div>
<br>
<div class='row'>
	<div class='center'>
		<img class='img-deco' src='images/icon-fork.png'>
		<img class='img-title' src='images/feature-caption.png'>
		<img class='img-deco' src='images/icon-spoon.png'>
	</div>
	<div class='center'>
		<div class='col-1'><span class='feature'>Stell Dir deine Lieblingsrestaurants zusammen</span></div>
		<div class='col-1'>
			<span class='feature'>Finde hier täglich die Angebote deiner Lieblingsrestaurants</span>
		</div>
		<div class='col-1'><span class='feature'>Genieße ein gesundes & frisch zubereitetes Mittagsessen</span></div>
	</div>
</div>
<br>
<div class='row'>
	<div class='center'>
		<a href="/signup"><input class='btn lila' type='button' name='register' value='Neu Annmelden'></a>
	</div>
</div>
<br><br>
<div class='row'>
	<div class='center'>
		<img src='images/supplier1.png'>
		<img src='images/supplier2.png'>
		<img src='images/supplier3.png'>
		<img src='images/supplier4.png'>
		<img src='images/supplier5.png'>
	</div>
</div>
<br>