<div class='hero'>
	<img class='hero-img' src='/images/hero-image.png'>
</div>

<br>

<div class='row'>
	<div class='center'>
		<img class='img-deco' src='images/icon-fork.png'>
		<img class='img-title' src='images/feature-caption.png'>
		<img class='img-deco' src='images/icon-spoon.png'>
	</div>
	<div class='center'>
		<div class='col-1'><span class='feature'>Stell Dir deine Lieblingsrestaurants zusammen</span></div>
		
		<div class='col-1'><span class='feature'>Finde hier täglich die Angebote deiner Restaurants</span></div>
		
		<div class='col-1'><span class='feature'>Genieße ein gesundes & frisch zubereitetes Mittagsessen</span></div>
	</div>
</div>
<dir class='row'>
	<div class='center'>
		<form role="form" action="/prospect" method="POST">
		  <input class='form-control' type="email" required id="fieldUsername" name="username" placeholder='Email'>
		  <button class='btn' type="submit">mich für die Test-Phase anmelden</button>
		</form>
	</div>
</dir>