<div class='row'>
	<img class='background-img' src='/images/background.png'>
</div>
<br>
<div class='row'>
	<div class='center'>
		<img src='images/icon-fork.png'>
		<img src='images/feature-caption.png'>
		<img src='images/icon-spoon.png'>
	</div>
	<div class='center'>
		<div class='col-1'><span class='feature'>Stell Dir deine Lieblingsrestaurants zusammen</span></div>
		<div class='col-1'></div>
		<div class='col-1'><span class='feature'>Finde hier täglich die Angebote deiner Lieblingsrestaurants</span></div>
		<div class='col-1'></div>
		<div class='col-1'><span class='feature'>Genieße ein gesundes & frisch zubereitetes Mittagsessen</span></div>
	</div>
</div>