<div class="row">
  <h1>Impressum</h1>
  <h4>Angaben gemäß § 5 TMG:</h4>
  <p>
    Wolf Beteiligungen UG (haftungsbeschränkt)<br>
    Schwerinstr. 65<br>
    40476 Düsseldorf
  </p>
  <h4>Vertreten durch:</h4>
  <p>
    Olaf Peters
  </p>
  <h4>Kontakt:</h4>
  <table>
    <tbody><tr>
      <td>Telefon:</td>
      <td>+491712265273</td>
    </tr>
    <tr>
      <td>E-Mail:</td>
      <td>olaf (at) guesswhapp.de</td>
    </tr>
  </tbody></table>
  
  <h4>Registereintrag:</h4>
  <p>
    Eintragung im Handelsregister.<br>
    Registergericht: Amtsgericht Düsseldorf<br>
    Registernummer: HRB 77412
  </p>
  <h4>Hinweis auf EU-Streitschlichtung</h4>
  <p>
    Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a>.<br>
    Unsere E-Mail-Adresse finden sie oben im Impressum.
  </p>
  <p>
    Quelle: <em><a href="http://www.e-recht24.de">http://www.e-recht24.de</a></em>
  </p>
</div>