<br>
<br>
<div class='row'>
	<div class='col-9 center'>
		<h3>Bitte log Dich mit deiner E-mail und Passwort oben ein</h3>
		<h3>oder</h3>
		<h3>melde Dich bei uns als neuer User an.</h3>
		<div class='mobileonly'>
			<a href="/signup"><button class='btn lila'>Neu Anmelden</button></a>
		</div>
		<br><br>
		<h3>Falls Du Dein Passwort vergessen hast</h3>
		<h3>trag deine gültige E-mail ein - </h3>
		<h3>wir senden Dir einen Erneuerungs-Link zu</h3>
		<form role="form" action="/signup/reset" method="POST">
		  <input class='form-control form_fixed' type="email" required id="fieldUsername" name="username" placeholder='Email'>
		  <button class='btn form_fixed' type="submit">Mein Passwort erneuern</button>
		</form>
	</div>
</div>
<br><br><br><br><br><br>